[submodule "content/projects/nixosconfig/src/nixos-config"]
	path = content/projects/nixosconfig/src/nixos-config
	url = https://github.com/iniyanijoseph/nixos-config.git
[submodule "content/projects/turbomarkdown/src/TurboMarkdown"]
	path = content/projects/turbomarkdown/src/TurboMarkdown
	url = https://github.com/UTD-Fall-2024-Sec-6/TurboMarkdown.git
[submodule "content/projects/sensoryprofile/src/Sensory-Profile-Calculator"]
	path = content/projects/sensoryprofile/src/Sensory-Profile-Calculator
	url = https://github.com/iniyanijoseph/Sensory-Profile-Calculator.git
