body {
  background-color: #d3dad9;
  /* color: white; */
  padding: 5rem;
  font-family: "Garamond"
}
@media (max-width: 600px) {
    body {
        padding: 1rem;
    }
}

.twopanel {
  width: 100%;
}

.paneldate {
  text-align:left; 
  width: 20%;
}

.panelcontent {
  text-align:left; 
  width: 80%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}


h1, h2, h3, h4, h5, h6 {
  font-style : italic;
  font-weight: normal;
  color: #44444e;
}

h1, h2 {
  text-align: center;
  color: #37353e;
}
